body {
    font-family: 'Roboto', sans-serif;
}
.tmtrails-logo {
    width: 120px;
}

/*** Bootstrap Overrides ***/
.bg-dark {
    background-color: #666 !important;
}

/* Center nav items in mobile menu */
@media (max-width: 992px) {
    .navbar-nav {
        text-align: center;
    }
}
