body {
    font-family: 'Roboto', sans-serif;
}
main {
    min-height: calc(100vh - 365px);
}

/*** Bootstrap Overrides ***/
.bg-dark {
    background-color: #666 !important;
}

/*** Header ***/
.tmtrails-logo {
    height: 80px;
}
/* Center nav items in mobile menu */
@media (max-width: 992px) {
    .navbar-nav {
        text-align: center;
    }
}

/*** Footer ***/
